.App {
  text-align: center;
  height: 100vh;
  /* background-color: black; */
}

  body{
  background-color: black;
} 
#cov-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 28%;
}

#cov-card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: larger;
}
#cov-card2 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items:left;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#claimsList {
   bottom: 10px;


}
#navid {
  background-color: #f4f4f4;
  margin-top: 25px;
  height: 75px;
}
#editClaimLink {
  color: red;
}
#addClaimLink {
  font-weight: bold;
  color: black;
}
#navLink {
  color: black;
 font-weight: bold;

}

#card {
  background-color: #3a588d;
  border-radius: 25px;
  margin-bottom: 50px;
  margin-top: 10%;
  opacity: .8;
  border: black;
  font-weight: bold;
  height: 400px;
  flex-direction: column;

}
#buttonClaimCard  {
margin-top: auto;
}

#claimViewHeader {
  margin-bottom: 10%;
  margin-top: 10%;
}

#editCard {
  background-image: linear-gradient(#505b70, #acb8cc);
  border: black;
  font-weight: bold;
  opacity: .9;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: 25px;
  border-radius: 15px;

}

#cardCoverage {
  background-color: #f4f4f4;
  width: 300px;
  
}
#icon {
font-weight: bold;
}

#covClear {
  color: rgb(14, 73, 14);
   font-weight: bolder;
}

#covDenied {
  color: red;
  font-weight: bolder;
  font-size: larger;
  
}

#form{
  align-content: center;
 
  
}
#imgCard {
  border-radius: 25px;
  height: 300px;
}
#sideNav {
 text-align: left;
  background-image: linear-gradient(#505b70, #acb8cc);
  border: black;
 border-radius: 25px;
  font-weight: bold;
  opacity: .9;
  margin-right: 15px;
  
 
  
}
#formContentbullet {
  text-indent: 10px;
}

#formContenttab {
  /* text-indent: 15px; */
  margin-right: 10px;
  margin-left: 25px;
}
#centerTxt {
  text-align: center;
  font-weight: bold;
}
#provider{
  /* background-color: #426195 ; */
  background-image: linear-gradient(#426195, #acb8cc);
  height: 100vh;
}
#nav {
  background-color: #2c4c83 ;
  margin-bottom: 20px;
  color: black;
  font-size: 12pt;
  font-weight:  bold ;

}
#btn {
  background-color: #2c4c83;

}
#claimLink  {
  color: black;

}

#tdata {
  font-weight:  bold ;

}
#exampleText {
  background-color:#8b8e96;
  color: black;
  font-size: large;
  margin-right: 20%;
  margin-left: 20%;
}

#tableStyl {
  padding: 100px;
}
#formTxt {
  font-size: medium;
  font-weight: bold;
}
#linkFormTxt {
  font-size: large;
  color: #062b69
}
#linkFormTxtNav {
  font-size: large;
  color: #062b69;
   margin-right: 10px;
  margin-left: 25px;
}

#buttonAddEdit {
  margin-bottom: 5%;
}

#letterAddress {
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-top:8%
}
#cardLetter {
  display:flex;
  width: 600px;
 margin-left: 25%;
}

 #lastParagraph {
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-top:8%

 }

